{% extends "base.html" %}

{% set page_title = "About Us" %}
{% block content %}
    <style>
    #group {
        float: right;
        margin-left: 20px;
    }
    </style>
<div class="container">
     <h2 class=" mt-4 mb-4">About Us</h2>
    <p class="lead">
Welcome to Library, your digital gateway to a world of knowledge, adventure, and imagination. Our mission is to provide a comprehensive and accessible collection of books, articles, and resources to inspire and enrich the lives of our readers.

Our Vision

At Our Library, we believe in the transformative power of literature and information.
        Our vision is to create a vibrant online community where readers of all ages and backgrounds can explore, learn, and connect.
        Whether you're a lifelong bookworm, a student seeking research materials, or someone looking for a new literary adventure,
        our Library is here to serve as your trusted companion on your reading journey.
    </p>
        <div class="d-none d-md-block col-6" id="group">
        <img src="/static/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" style="height:320px; border-radius:4px"
             alt="text">
        </div>
    </div>
<h2 class=" mt-4 mb-4">What We Offer</h2>

<h5 class=" mt-4 mb-4">.Extensive Collection</h5>
    <p class="lead">Dive into our extensive collection of books, e-books, articles, and multimedia resources spanning a wide range of genres, topics, and languages.</p>
<h5 class=" mt-4 mb-4">.User-Friendly Interface</h5>

    <p class="lead"> Our user-friendly website is designed with you in mind. Easily search, browse, and access the materials you need with just a few clicks.</p>
<h5 class=" mt-4 mb-4">.Community Engagement</h5>

    <p class="lead">Connect with fellow readers through discussion forums, book clubs, and interactive events. Share your thoughts, recommendations, and passion for reading.</p>
<h5 class=" mt-4 mb-4">.Educational Resources</h5>
    <p class="lead"> We support lifelong learning with a variety of educational materials, making it a valuable resource for students, teachers, and anyone looking to expand their knowledge.</p>

{% endblock %}
