

{% extends "base.html" %}
{% from "macros.html" import error_display with context %}

{% set page_title = "New Admin" %}

{% block content %}
<h1>New Admin</h1>
<form method="POST" action="/admin/new">
    {{ form.csrf_token }}
    <div class="mb-3" style="width: 400px;">
        <label for="full_name_admin" class="form-label">Full Name: </label>
        <input type="text"
               class="form-control"
               {% if form.full_name_admin.data %}
                value="{{ form.full_name_admin.data }}"
               {% endif %}
               id="full_name_admin"
               name="full_name_admin"
               required
        >
        {{ error_display(form.full_name_admin.errors) }}
    </div>
    <div class="mb-3" style="width: 400px;">
        <label for="roll" class="form-label">Roll: </label>
        <input type="text"
               class="form-control"
               {% if form.roll.data %}
                value="{{ form.roll.data }}"
               {% endif %}
               id="roll"
               name="roll"
               required
        >
        {{ error_display(form.roll.errors) }}
    </div>
    <div class="mb-3" style="width: 400px;">
        <label for="password" class="form-label">Password: </label>
        <input type="password"
               class="form-control"
               {% if form.password.data %}
                value="{{ form.password.data }}"
               {% endif %}
               id="password"
               name="password"
               required
        >
        {{ error_display(form.password.errors) }}
    </div>
    <div class="mb-3" style="width: 400px;">
        <label for="repeat_password" class="form-label">Repeat password: </label>
        <input type="password"
               class="form-control"
               {% if form.repeat_password.data %}
                value="{{ form.repeat_password.data }}"
               {% endif %}
               id="repeat_password"
               name="repeat_password"
               required
        >
        {{ error_display(form.repeat_password.errors) }}
    </div>
    <div class="mb-3" style="width: 400px;">
        <label for="email" class="form-label">Email: </label>
        <input type="email"
               class="form-control"
               {% if form.email.data %}
                value="{{ form.email.data }}"
               {% endif %}
               id="email"
               name="email"
               required
        >
        {{ error_display(form.email.errors) }}
    </div>
    <input class="btn btn-success" type="submit" value="Add">
</form>
{% endblock %}